<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reyesmagos.squarefinder.map">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>
        <activity android:name=".MapActivity"
            android:theme="@style/MapActivityTheme"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzp16zNveNm_MVJzbiF0lTwHuvyBsyiyY"/>
    </application>

</manifest>
